[submodule "BodyModel/Kore"]
	path = BodyModel/Kore
	url = https://github.com/Kode/Kore.git
[submodule "CEGUI"]
	path = CEGUI
	url = https://github.com/OpenTechEngine/CEGUI.git
[submodule "BodyModel/CEGUI"]
	path = BodyModel/CEGUI
	url = https://github.com/OpenTechEngine/CEGUI.git
